<ion-view view-title="Register" name="register-view" class="login-wrapper">
  	<ion-content class="padding">
		<div class="row row-center center">
			<div class="col col-80 col-offset-10">
				<b>Ιδιότητα Χρήστη</b>
			</div>
		</div>
		<div class="row row-center">
			<div class="col col-80 col-offset-10">
				<button class="button button-block button-positive" ng-click="userRegister()">Φυσικό Πρόσωπο</button>
			</div>
		</div>
		<div class="row row-center">
			<div class="col col-80 col-offset-10 center">
				 <span class="badge badge-balanced">Ή</span>
			</div>
		</div>
		<div class="row row-center">
			<div class="col col-80 col-offset-10">
				<button class="button button-block button-positive" ng-click="businessRegister()">Επιχείρηση</button>
			</div>
		</div>
  	</ion-content>
</ion-view>